<div class="container"><h1><b>blogs</b></h1></div>

<nav class="container navbar navbar-expand-md navbar-dark bg-dark">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
     aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']"><b>home</b></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/create']"><b>create a blog</b></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" [routerLink]="['/about']"><b>about</b></a>
          </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>